

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [2]:
liste=[]
print(liste)

[]

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [14]:
liste1=['bonjour',2,'maman',5.6,'papa']
print(liste1)

['bonjour', 2, 'maman', 5.6, 'papa']

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [4]:
longueur=len(liste1)
print(longueur)

5

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [5]:
premier=liste1[0]
print(premier)

bonjour

In [12]:
liste1=['bonjour',2,'maman',5.6,'papa']
if len(liste1)%2==0:
    print(liste1[len(liste1)//2])
else:
    print(liste1[len(liste1)//2])

maman

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [15]:
mixed_data_types=['nom','age','taille','etat civil','adresse']
print(mixed_data_types)

['nom', 'age', 'taille', 'etat civil', 'adresse']

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

In [6]:
it_companies=['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [2]:
len(it_companies)

7

In [7]:
pr=it_companies[0]
mo=it_companies[int(len(it_companies)//2)]
dr=it_companies[-1]
print(pr)
print(mo)
print(dr)

Facebook
Apple
Amazon

In [25]:
it_companies[0]='Accenture'
print(it_companies)

['Accenture', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [26]:
it_companies=['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
it_companies.append('HPE')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'HPE']

In [33]:
it_companies=['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
it_companies.insert(int(len(it_companies)//2), 'Atos')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Atos', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [2]:
it_companies=['facebook','google','microsoft','apple','IBM','oracle','amazon']
i=0
for i in range (0,len(it_companies)):
    it_companies[i]=it_companies[i].upper()
i=i+1
print(it_companies)

['FACEBOOK', 'GOOGLE', 'MICROSOFT', 'APPLE', 'IBM', 'ORACLE', 'AMAZON']

In [4]:
it_companies=['facebook','google','microsoft','apple','IBM','oracle','amazon']
joindre=" #; ".join(it_companies)
print(joindre)

facebook #; google #; microsoft #; apple #; IBM #; oracle #; amazon

In [2]:
it_companies=['facebook','google','microsoft','apple','IBM','oracle','amazon']
for i in range (0,len(it_companies)):
    if it_companies[i]==it_companies[i]:
        print('Vrai')
    else:
        print('Faux')
i=i+1

Vrai
Vrai
Vrai
Vrai
Vrai
Vrai
Vrai

In [8]:
it_companies=['facebook','google','microsoft','apple','IBM','oracle','amazon']
it_companies.sort()
print(it_companies)

['IBM', 'amazon', 'apple', 'facebook', 'google', 'microsoft', 'oracle']

In [9]:
it_companies=['facebook','google','microsoft','apple','IBM','oracle','amazon']
it_companies.reverse()
print(it_companies)

['amazon', 'oracle', 'IBM', 'apple', 'microsoft', 'google', 'facebook']

In [11]:
it_companies=['facebook','google','microsoft','apple','IBM','oracle','amazon']
del it_companies[0:3]
print(it_companies)

['apple', 'IBM', 'oracle', 'amazon']

In [14]:
it_companies=['facebook','google','microsoft','apple','IBM','oracle','amazon']
del it_companies[4:]
print(it_companies)

['facebook', 'google', 'microsoft', 'apple']

In [19]:
it_companies=['facebook','google','microsoft','apple','IBM','oracle','amazon']
it_companies.pop(int(len(it_companies)//2))
print(it_companies)

['facebook', 'google', 'microsoft', 'IBM', 'oracle', 'amazon']

In [20]:
it_companies=['facebook','google','microsoft','apple','IBM','oracle','amazon']
it_companies.pop(0)
print(it_companies)

['google', 'microsoft', 'apple', 'IBM', 'oracle', 'amazon']

In [21]:
it_companies=['facebook','google','microsoft','apple','IBM','oracle','amazon']
it_companies.pop(-1)
print(it_companies)

['facebook', 'google', 'microsoft', 'apple', 'IBM', 'oracle']

In [33]:
it_companies=['facebook','google','microsoft','apple','IBM','oracle','amazon']
del it_companies[0:len(it_companies)]
print(it_companies)

[]

In [34]:
it_companies=['facebook','google','microsoft','apple','IBM','oracle','amazon']
it_companies.clear()
print(it_companies)

[]

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [35]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
joindre= front_end+back_end
print(joindre)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [18]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
mi=min(ages)
ma=max(ages)
med=((ages[len(ages)//2]+(ages[(len(ages)//2)+1]))//2)
moy=sum(ages)/len(ages)
interv=(ma - mi)
#val=abs(mi - moy)
#val1=abs(ma - moy)
print(sum(ages))
print("l'age minimum est: ", mi)
print("l'age maximum est: ", ma)
print("l'age median est: ", med)
print("l'age moyen est: ", moy)
print("l'intervalle des ages  est: ", interv)
#print(val)
#print(val1)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
228
l'age minimum est:  19
l'age maximum est:  26
l'age median est:  24
l'age moyen est:  22.8
l'intervalle des ages  est:  7
3.8000000000000007
3.1999999999999993

In [28]:
val=abs(mi - moy)
val1=abs(ma - moy)
print(val)
print(val1)
if val>val1:
    print("La valeur",val," est la plus grande")
elif val<val1:
    print("Non c'est plutot",val1,"qui est la plus grande")
elif val==val1:
    print("Ils sont plutot egales")

3.8000000000000007
3.1999999999999993
La valeur 3.8000000000000007  est la plus grande

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

In [5]:
dog={}
dog['nom']='Fall'
dog['couleur']='blanche'
dog['race']='bambara et Toucouleur'
dog['pattes']='aucun'
dog['age']=28
dog

{'age': 28,
 'couleur': 'blanche',
 'nom': 'Fall',
 'pattes': 'aucun',
 'race': 'bambara et Toucouleur'}

In [27]:
student= {'prenom':' Kancou Dableny','nom':'Fall','sexe':'feminin','age':28,'etat civil':'celibataire','les competences':['math','moyen informatique'],'pays':'senegal','ville':'Fatick','adresse':'chez mon papa' }
student

{'adresse': 'chez mon papa',
 'age': 28,
 'etat civil': 'celibataire',
 'les competences': ['math', 'moyen informatique'],
 'nom': 'Fall',
 'pays': 'senegal',
 'prenom': ' Kancou Dableny',
 'sexe': 'feminin',
 'ville': 'Fatick'}

In [28]:
len(student)

9

In [29]:
print(student.get("les competences"))

['math', 'moyen informatique']

In [37]:
student.update({'les competences':['math','moyen informatique','un peu en python']})
print(student)

{'prenom': ' Kancou Dableny', 'nom': 'Fall', 'sexe': 'feminin', 'age': 28, 'etat civil': 'celibataire', 'les competences': ['math', 'moyen informatique', 'un peu en python'], 'pays': 'senegal', 'ville': 'Fatick', 'adresse': 'chez mon papa'}

In [40]:
cle_student = student.keys()
print(cle_student )

dict_keys(['prenom', 'nom', 'sexe', 'age', 'etat civil', 'les competences', 'pays', 'ville', 'adresse'])

In [42]:
valeur_student = student.values()
print(valeur_student )

dict_values([' Kancou Dableny', 'Fall', 'feminin', 28, 'celibataire', ['math', 'moyen informatique', 'un peu en python'], 'senegal', 'Fatick', 'chez mon papa'])

In [43]:
listetuple_student = student.items()
print(listetuple_student )

dict_items([('prenom', ' Kancou Dableny'), ('nom', 'Fall'), ('sexe', 'feminin'), ('age', 28), ('etat civil', 'celibataire'), ('les competences', ['math', 'moyen informatique', 'un peu en python']), ('pays', 'senegal'), ('ville', 'Fatick'), ('adresse', 'chez mon papa')])

In [44]:
del student['etat civil']
print(student)

{'prenom': ' Kancou Dableny', 'nom': 'Fall', 'sexe': 'feminin', 'age': 28, 'les competences': ['math', 'moyen informatique', 'un peu en python'], 'pays': 'senegal', 'ville': 'Fatick', 'adresse': 'chez mon papa'}

In [45]:
dog.clear()
print(dog)

{}

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>